---
import Layout from "../layouts/Layout.astro";
import nodemailer from "nodemailer"

const style = "bg-transparent p-2 border-2 border-slate-700 focus:outline-none focus:ring-2 focus:ring-customBlue"

export const prerender = false;

// init email client
const mail_client = nodemailer.createTransport ({
    host: 'smtp.resend.com',
    port: 465,
    secure: true,
    auth: {
        user: import.meta.env.EMAIL_USER,
        pass: import.meta.env.EMAIL_KEY
    }
});

if (Astro.request.method === "POST") {
    try {   
        const data = await Astro.request.formData()
        const user_name = data.get("name") as string;
        const user_mail = data.get("email") as string;
        const user_message = data.get("message") as string;

        const info = await mail_client.sendMail({
            from: user_mail, // sender address
            to: "chess.logic@gmail.com", // list of receivers
            subject: `Contact From ${user_name}`, // Subject line
            text: user_message, // plain text body
            html: `<p>${user_message}</p>`, // html body
        });
        
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message)
        }
    }
}
---

<Layout>
    <div class="flex flex-col w-full h-screen items-center justify-center">
        <h1 class="text-4xl">What can I do for you?</h1>
        <br />
        <form id="contact" class="flex flex-col w-1/3 p-12 text-xl border 
            border-customBlue border-l-[10px] rounded-lg"
            method="POST"
        >
            <!-- name -->
            <label for="name">name</label>
            <input class={style} id="name" name="name" type="text" required/>
            <br />
            <!-- email -->
            <label for="email">email</label>
            <input class={style} id="email" name="email" type="email" required/>
            <br />
            <!-- message -->
            <label for="message">message</label>
            <textarea class={style} id="message" name="message" placeholder="Talk to me!"></textarea>
            <br />
            <button class="bg-customBlue rounded-lg" type="submit">Send</button>
        </form>
    </div>
</Layout>