---
import Card from "./Card.astro"

import automation from "../assets/automation.svg"
import github from "../assets/github.svg"
import python from "../assets/python.svg"
import web from "../assets/web.svg"
---
<Card name="web" svg={web}>
    <p>This site was built with <a target="_blank" class="text-purple-600" href='https://astro.build'>Astro</a></p>
</Card>
<Card name="github" svg={github}>
    <p>Find the code on my <a target="_blank" class="text-orange-600" href='https://www.github.com/siberian-devsky'>GitHub</a> page</p>
</Card>
<Card name="python" svg={python}>
    <p>I also do <a target="_blank" class="text-yellow-400" href='https://www.python.org'>python</a></p>
</Card>
<Card name="automation" svg={automation}>
    <p>Integrations are also a thing I do</p>
</Card>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        console.log("Content Loaded for headliners animation")
        const headliners: HTMLElement|null = document.getElementById('headliners')
        const transitionClasses = ['transform', 'translate-y-8', 'opacity-100', 'transition-all', 'duration-1000', 'linear']
        if (headliners) {
            setTimeout(() => {
                headliners.classList.add(...transitionClasses)  
            }, 1000)
        } else {
            console.log(`Headliners not found. Got ${headliners} instead`)
        }
    })
</script>