---
import Card from "./Card.astro"

import automation from "../assets/automation.svg"
import github from "../assets/github.svg"
import python from "../assets/python.svg"
import web from "../assets/web.svg"
---
<Card name="web" svg={web}>
    <p>This attempt was built with 
        <a target="_blank" class="text-purple-600" href='https://astro.build'>Astro</a>
        and <a target="_blank" class="text-sky-500" href='https://v3.tailwindcss.com'>Tailwind</a>
    </p>
</Card>
<Card name="github" svg={github}>
    <p>Find the code on my <a target="_blank" class="text-orange-600" href='https://www.github.com/siberian-devsky'>GitHub</a> page</p>
</Card>
<Card name="python" svg={python}>
    <p>I also know <a target="_blank" class="text-yellow-400" href='https://www.python.org'>Python </a>and a lot of other things</p>
</Card>
<Card name="automation" svg={automation}>
    <p>This all comes in pretty handy</p>
</Card>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        console.log("Content Loaded for headliners animation")
        const headliners: HTMLElement|null = document.getElementById('headliners')
        if (headliners) {
            setTimeout(() => {
                headliners.classList.remove('opacity-0', 'scale-90')
                headliners.classList.add('opacity-100', 'scale-100')
            }, 800)
        } else {
            console.log(`Headliners not found. Got ${headliners} instead`)
        }
    })
</script>

<style>
    p {
        width: 100%;
    }
</style>